################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NT106.O22_Group-24/FileContentIndex/ac045879-78da-4a34-8d3d-45f5540284aa.vsidx
/NT106.O22_Group-24.rar
